<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsConnectSQLServertoCSharp.Properties.Settings.gb_data" connectionString="server=127.0.0.1;user id=root;password=devry123;database=gb_data" providerName="MySql.Data.MySqlClient"/>
        <add name="WindowsFormsConnectSQLServertoCSharp.Properties.Settings.gb_data1" connectionString="server=127.0.0.1;user id=root;database=gb_data" providerName="MySql.Data.MySqlClient"/>
        <add name="WindowsFormsConnectSQLServertoCSharp.Properties.Settings.gb_dataConnectionString" connectionString="server=127.0.0.1;user id=root;persistsecurityinfo=True;database=gb_data" providerName="MySql.Data.MySqlClient"/>
        <add name="WindowsFormsConnectSQLServertoCSharp.Properties.Settings.gb_dataConnectionString1" connectionString="server=127.0.0.1;user id=root;password=devry123;database=gb_data;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
        <add name="WindowsFormsConnectSQLServertoCSharp.Properties.Settings.gbdata" connectionString="Data Source=DESKTOP-4UQ150R\MYSQL1;Initial Catalog=gbdata;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
